
body{
    background-color: #E6E6E6;
}

.visual{
    font-family: 'Anton', sans-serif;
    font-size: 64px;
}

.utah{
    font-family: 'Anton', sans-serif;
    font-size: 48px;
}

.breaking-first{
    /* makes circles in line instead of square*/
    display: none;
}

.texts-and-articles{
    font-family: 'Abel', sans-serif;
    font-size: 15px;
}

.twitter-details{
    font-size: 10px;
}

.red-circle{
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 40px;
    color: white;
    text-align: center;
    background: #E6563B
}

.yellow-circle{
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 40px;
    color: white;
    text-align: center;
    background: #DEA03D

}

.green-circle{
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 40px;
    color: white;
    text-align: center;
    background: #7CB06C
}

.blue-circle{
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 40px;
    color: white;
    text-align: center;
    background: #00ABA9
}

