/*
no explicit height given to the navbar
logo is absolutely positioned to completely center text on the navbar */

*{
    /* box-sizing: border-box for all elements */
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav{
    background-color: #848487;
}

.nav-items{
    /* default styling is removed as needed from the body,
    unordered list and anchor tag elements*/
    display: flex;
    flex-wrap: none;
}
nav a{
    /* anchor tags are display: inline-block */
    display: inline-block;
    text-decoration: none;
    color: black;
    font-family: 'Work Sans', sans-serif;
    /* clickable area of links immediately flow from one link to the next (padding will help achieve this) */
    padding: 1em;
    align-self: center;
}
nav a:hover{
    /* links turn blue on hover */
    color: blue;
}

.logo{
   /* the "Logo" text is 3em with .2em of padding above and below */
    padding: .2em 0;
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    justify-self: center;
}