/*
clickable area of links immediately flow from one link to the next (padding will help achieve this)
no explicit height given to the navbar
logo is absolutely positioned to completely center text on the navbar */

*{
    /* box-sizing: border-box for all elements */
    box-sizing: border-box;
}

nav{
    background-color: #848487;
    position: relative;
}
body{

}

ul{
    /* default styling is removed as needed from the body,
    unordered list and anchor tag elements*/
    list-style: none;
    display: flex;
}
nav a{
    /* anchor tags are display: inline-block */
    display: inline-block;
    text-decoration: none;
    color: black;
    font-family: 'Work Sans', sans-serif;
    padding: 1em;
}
nav a:hover{
    /* links turn blue on hover */
    color: blue;
}

nav ul li:nth-child(5){
   /* the "Logo" text is 3em with .2em of padding above and below */
    padding: .2em 0;
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    font-weight: bold;

}

nav ul li:nth-child(6){
    margin-left: auto;
}