body{
    font-family: Georgia;
    background-color: darksalmon;
    background-image: url("../img/back.jpeg");

}

h1 {
    text-align: center;
    color: purple;
    text-decoration: underline;
}

h2{
    color: darkblue;
    text-decoration: underline;
}

ol{
    list-style-type: upper-roman;
}

ul{
    list-style-type: circle;
}

table, th, td{
    border: 1px solid black;
}

table{
    font-family: "Times New Roman";
    width: 50%;

}

th, td{
    padding: 10px;
}

hr{
    border: 1px dotted black;
}

a:link{
    color: purple;
}

a:visited{
    color: black;
}
a:hover{
    color: red;
    font-size: 1.2em;
}

a.active{
    color:green;
}